.body-background{
    background-image: url("background1.jpg");
    text-align: center;
}
.header{
    width: 100%;
    margin-top: 0px;
    box-shadow: 1px 1px 10px white;
    font-size: 30px;
    font-family: 'Black Ops One', cursive;
    text-align: left;
}
#btn-instructions{
    float: right;
    margin-top: 2px;
    border: 1px solid white;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    font-size: 17px;
    border-radius: 7.5px;
}
#startGame{
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
    margin-right: 5px;
}
#restartGame{
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 175px;
    margin-left: 5px;
}
#status_btn{
    font-size: 19.5px;
    width: 320px;
    margin-top: 30px;
}
#computerPoints_btn{
    margin-right: 3.5px;
    margin-top: 10px;
    width: 155px;
    font-size: 18px;
}
#playerPoints_btn{
    margin-left: 3.5px;
    margin-top: 10px;
    width: 155px;
    font-size: 18px;
}
#copyright_footer{
    position: fixed;
    width: 100%;
    background-color: white;
    color: black;
    bottom: 0;
    margin-bottom: 0px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Black Ops One', cursive;
    padding-top: 12.5px;
}
a{
    text-decoration: none;
}
.instructions_img{
    height: 310px;
    width: 425px;
}
.instructions_p{
    font-size: 17px;
}
#canvas{
    margin-bottom: 100px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;

}